<!DOCTYPE html>
<html>
  <head>
    <script>
    </script>
  </head>
  <body>
    <div id="hi">hello</div>
    {{range .}}
	<h1>{{.Date}}</h1>
	{{range .Recipes}}
    <div>
      <h2>{{.Title}} <span class="subtitle">{{.Subtitle}}</span></h2>
      <form action="/replace" method="POST">
        <input name="recipe" id="recipe" type="hidden" value={{.Title}} />
        <div>
          <input type="submit" value="Click me!">
        </div>
      </form>
      <ul>
	{{if .Attributes}}
	<li>Tags: {{range .Attributes}}{{.}}{{end}}</li>
	{{end}}

	<li>Time: {{.Time}}</li>
	<li>Servings: {{.Servings}}</li>
	<li>Calories: {{.Calories}}</li>
      </ul>

      <h3>Ingredients</h3>
      <ul>
	{{range .Ingredients}}
	<li>{{.Quantity}} {{.Unit}}(s) of {{.Name}}</li>
	{{end}}
      </ul>

      <h3>Preparation</h3>
      <ul>
	{{range .Steps}}
	<li>{{.}}</li>
	{{end}}
      </ul>
    </div>
    {{end}}
    {{end}}
	
    <form action="/groceries">
      <button type="Submit">
	Show Grocery List
      </button>
    </form>
  </body>
</html>
