.date {
    color: #fff;
    background-color: #204778;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif; 
	font-size: 30px;
    text-align:center;
}
.title {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 24px;
}
.subtitle {
	font-family: "Arial", "Arial", Gadget, sans-serif; 
	font-size: 24px;
}
h3 {
	font-family: "Arial", "Arial", Gadget, sans-serif; 
	font-size: 24px;
}
body {
	font-family: "Arial", "Arial", Gadget, sans-serif; 
	font-size: 20px;
}
html, body{
     text-align:center;
}